

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

td{
vertical-align: middle;
    text-transform: uppercase;
    box-shadow: 58px 0 5px -58px rgba(0,0,0,0.27) inset;
}

tr:nth-child(odd){
    background-color: #f2f2f2;
}

tbody{
    background-color: #e3e3e3;
    font-size: 16px;
    text-align: center;
}

tbody td{
    width: 277px;
    height: 69px;
}


table{
    margin: 50px auto;
    align-items: center;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    border: 20px solid #3a4965;
    border-collapse: collapse;
    font-size: 16px;
    text-transform: uppercase;
    color: #484848;
}

.pricing{
    background: #fafafa;
}

.pricing-choose{
    font-size: 18px;
    font-weight: 700;

}

.pricing-plan{
    font-size: 30px;
    font-weight: 700;

}

.pricing-standard{
    width: 277px;
    height: 70px;
    font-weight: 700;
    background-color: #89c331;
    color: #fff;
    font-size: 24px;
}

.pricing-ultimate{
    background-color: #f04a56;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.pricing-premium{

    background-color: #20807c;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.price{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 277px;
    height: 86px;
}

.first-price{
    margin-top: 13px;
    font-size: 60px;
    font-weight: 700;
    color: #484848;
}
.pricewrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-price{
    font-size: 24px;
    font-weight: 700;
    color: #484848;
    display: flex;
}

.price-text{
    font-size: 18px;
    color: #484848;
    font-weight: 400;
}

.font-awesome{
    color: #848484;
    font-size: 24px;
    margin-right: 10px;
}


.btn1{
    background-color: #dddddd;
    width: 310px;
    height: 110px;
}

.btn2{
    background-color: #eeeeee;
}

.btn3{
    background-color: #f4f4f4;
}

.btn4{
    background-color: #eeeeee;
}
.btn{
    width: 192px;
    height: 49px;
    border-radius: 5px;
}

.btn:hover{
    zoom: 1.1;
}

.contact-us {
    padding-top: 10px;
    background-color: #484848;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 7px solid #404040;
}

.buy-now1{
    padding-top: 10px;
    background-color: #89c331;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 7px solid #79b027;;

}
.buy-now2{
    padding-top: 10px;
    background-color: #f04a56;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 7px solid #df3a46;
}

.buy-now3{
    padding-top: 10px;
    background-color: #20807c;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 7px solid #16736f;
}